<body><br>
<h1 style="text-align:center">Welcome To Coachiny </h1>
<br>
<h1 *ngIf='this.notActivated==false'>Waiting for approval !</h1>
<div *ngIf='this.notActivated==true'>
<form [formGroup]="form" >
<div *ngFor="let trainer of trainers; let i = index">
<div class="card jc-center">

  <ng-container  *ngIf="trainer.profile_image !='' ">
  <img [src]='trainer.dataSource' alt="John" style="width:100%">
</ng-container>

<ng-container  *ngIf="trainer.profile_image =='' ">
<img src='../../assets/default.jpg' alt="John" style="width:100%">
</ng-container>

  <h1>{{trainer.first_name}} {{trainer.last_name}}</h1>
  <p class="title">Certified Personal Trainer</p>
  <p>{{trainer.email}}</p>
  <p> <button type="button" class="btn btn-danger btn-sm"(click)="send(trainer[i]._id)">View Profile</button></p>
</div>
</div>
</form>
</div>
</body>


