mat-form-field,
textarea {
  width: 100%;
}

h6{
  text-align : center;
  font-weight:bold;
}

body, html {   
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;  
}
body {
    /*vertical-align:middle;*/
  background: -webkit-linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);
  background: linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);  
  height: 130%;
   position: absolute;
}
form {
 width: 550px;
 height: 450px;
}
input {
 width: 375px;
 height: 25px;
}

.profile-details{
  width: 600px;
  height: 610px;
  margin-left: 120px;
}
.profile-img{
  margin-left: 20px;
  width: 400px;
  height: 300px;
}
.profile-div{
  position: absolute;
  top: 50px;
  margin-left: 250px;
  display: flex;
}

.profile-pass{
  margin-top: 320px;
  margin-left: 20px;
  position: absolute;
  width: 400px;
  height: 400px;
}

.input-Pass{
  width: 62%;
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {
  height: 11rem;
 /* margin: 1rem 0;*/
  margin-left: 100px;
}

.image-preview img {
  height: 100%;
}


.flex-parent {
  margin-top: 10px;
  display: flex;
  padding-right: 200px;
}

/*.jc-center {
  justify-content: center;
}*/


.button-pic {
  width: 300px;
  height: 35px;
}

/*
.button-save.margin-right {
  margin-right: 20px;
}*/
