<mat-toolbar>
  <span>
    <a mat-button routerLink="/"> Home </a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="userIsAuthenticated">
      <a mat-button (click)="onClickProfile()">Profile</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <button mat-button [matMenuTriggerFor]="menu">Plans</button>
      <mat-menu #menu="matMenu">
        <button (click)="onClickWorkoutPlan()" mat-menu-item>Workout Plan</button>
        <button (click)="onClicknutriPlan()" mat-menu-item>Nutrition Plan</button>
      </mat-menu>
    </li>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/chat" routerLinkActive="mat-accent">Chat</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/members" routerLinkActive="mat-accent" *ngIf="this.profession =='trainer'">Members</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/register" routerLinkActive="mat-accent">Register</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/login" routerLinkActive="mat-accent">Login</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <mat-icon matBadge="15" matBadgeColor="warn"><span class="material-icons">
          notifications
        </span></mat-icon>
    </li>
    <li *ngIf="userIsAuthenticated">
      <button mat-button (click)="onLogout()">Logout</button>
    </li>
  </ul>
</mat-toolbar>